html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: 300;
    word-spacing: 100000%;
    letter-spacing: 100%;
    line line-height: 1em;
}

#NewMedia{
    font-family: fantasy;
    font-size: larger;
}